.container {
  max-width: 128rem;
  padding: 0 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
